@charset "UTF-8";

/* estilo da impressão */

* {
    padding: 15px;
    margin: 15px;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

header {
    display: none;
}

article::after {
    content: 'este artigo foi retirado do site www.baculejo.com';
}