@charset "UTF-8";

/*
    em HTML é id    = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/

body{
    background-color: rgb(162, 252, 162);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(63, 182, 63);
}

h1#principal{
    background-color: green;
    color: white;
    text-align: center;
}

h2{
    color: rgb(42, 109, 42);
}

.basico{
    color: green;
}

.intermediario{
    color: yellow;
}

.avancado{
    color: red;
}

.destaque{
    background-color: rgba(201, 201, 64, 0.747);
}